#logo {
    border: 3px solid black;
    border-radius: 100px;
}

@media (min-width:540px){
    .mr-sm-6{
        margin-right: 5rem !important 
    }
    .mr-sm-7{
        margin-right: 7rem !important 
    }
}

.news {
    max-width:1000px;
}

#cardtitle {
    font-size: 1.5em;
}

#gaben {
    border: 3px solid black;
    border-radius: 10px;
}

#slides {
    border: 3px solid black;
    border-radius: 50px
}

#slideShow {
    border: 3px solid white;
}

#prev {
    border: 3px solid black;
    border-radius: 50px
}

#play {
    border: 3px solid black;
    border-radius: 50px
}

#next {
    border: 3px solid black;
    border-radius: 50px
}